



*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(10, 10, 10, 0.932);
}


header{

    background: transparent;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 4.1rem;

    z-index: 9999999;
}

.logo-container h4 a{
    color: white;
    text-decoration: none;
}

.section-header-acc-icon{
width: 10rem;
color: white;
cursor: pointer;
position: absolute;
display: flex;
align-items: center;
gap: 0.4rem;
top: 0;
padding: 0.3rem 0.5rem;
right: -112px;
transition: all 0.4s ease-in-out;
}


.section-header-acc-icon:hover{
background-color: #0a0a0a79;
color: wheat !important;

}

.account-small-icon{
    width: 100%;

}

.section-header-acc-icon img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #db820d;
}

.section-header-acc-icon img:hover{
    border: 1px solid #830505;

}

.user-name{
    font-size: 1rem;
}

.user-id{
    font-size: 0.5rem;
}



.header-1.active{
    background-color: #0000007a;
}

.header-1{
    background: transparent;
}

.logo-container i{
    font-size: 1.6rem;
    align-self: center;
    padding: 2px; 
    transition:  all 0.3s ease-in-out;
}

.logo-container i:hover{
    background-color: #000000;
   
    border-radius: 3px;  
     color: white;
    }

    

    .logo-container .active-phase{
        display: none;
    }
    .logo-container:hover .active-phase{
        display: block;
    }


.avote-sec{
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #000000;
    margin-top: 21rem;
    padding: 2rem;
    transform: translate(-78px ,0px);
}
.avote-sec p a{
    color: #575757;
    display: flex;
    align-items: center;
        gap: 0.2rem;
    border: none;
     outline: none;
    text-align: start;
    text-decoration: none;

}
.avote-sec p{
    padding: 3px;
   border-radius: 1rem;
    border-bottom: 2px solid #313131;
    transition: all 0.2s ease-in-out;
}

.avote-sec p:hover{
    background-color: #707070;
    

}
.avote-sec p:active{
    background-color: #5f5f5f;
}

 .avote-sec p a:hover{
    color: #cfcfcf;
    
}

/* search box */
/* --------------------------------- */

.icons-search{
    position: relative;
    width: 50%;
    align-self: flex-start;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    height: 3.2rem;

   
    padding-top: .4rem;
    width: 80%;

}
.expandable-input{
    position: absolute;
    top: 0;
    right:10px;
}

.search-box{
    width: 400px;
    background: #313131;
    transform: translate(-67px, 0px);
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px ;
}

input{
    flex:1;
    
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #ebebeb;
}
.nomatch{
    padding: 2rem;
    text-align: center;
}
button{
    background-color: transparent;
    border: 0;
    outline: 0;

}
button i{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

.row{
}

::placeholder{
    color: #555;
}

.result-box{

    z-index: 999999;
}
.result-box ul{
    border-radius: 1px solid #999;
    padding:15px 10px;

}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
}

.result-box ul li:hover{
   background: #444444;
}

.expandable-input {
    width: 300px; /* Initial width */
    transition: width 0.3s ease; /* Smooth transition */
}

.expandable-input.expanded {
    width: 550px; /* Expanded width */
}

/* ----------------------------------------------------------- */


.backblur{
    transition: 0.5s ease-in-out;
}

.logo-container{
    display: flex;
    align-items: center;
    font-size: .9rem;
    gap: 3rem;
    font-weight: 300;
}

.logo-container h4{
}


.logo{
    width: 15rem;
}

.logo img{
    width: 100%;
}


input{
    outline: none;
    border: none;
    padding: 0.4rem 1rem 0.4rem 1rem;
  
}

input:active{
    border:  1px #d62020;
    
}

.photo-main{
    transition: opacity 0.5s ease-in-out; 
}

.icons-search{
    display: flex;
    align-items: center;
    gap: 3rem;
    
}
.icons-search i{
    font-size: 1.5rem;
}
.search-container{
    border-radius: 1rem; 
    padding:.4rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.search-container i{
    color: black;
}

/* ---------------------- */
/* hero-section */
/* ------------------------- */

.hero-section{
   
    display: flex;
    transform: translate(0rem,-4.3rem);
    align-items: center;
    justify-content: center;
}

.middle-container
{   position: relative;
    width: 95%;
    height: 55rem;
    overflow: hidden;
    
}
.middle-container::after{
    content: "";
    width: 114%;
    z-index: 99999;
    height: 15rem;
    bottom: -100px;
    left: -130px;
    right: -100px;
    position: absolute;
    filter: blur(42px);
    background-color: #1a1a1a;
}



.main-img-container{
    width: 100%;

}
.main-img-container img{
    width: 100%;
    opacity: 0;
    background: linear-gradient(30deg,#1b1b1b88,#000000b6);
    transition: opacity 0.5s ease-in-out;
}

.main-img-container img.active{
    opacity: 1;
}

.overlap-container{
    position: absolute;
    top: 0;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
  
    padding-left: 5rem;
    background-color: rgba(3, 3, 3, 0.397);
    transition:  all 0.4s ease-in-out;
    /* background: linear-gradient(30deg,#20202056,#2727274b); */
}

/* .overlap-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out; /* Apply transition to opacity */
  
  
  /* .overlap-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0; /* Initially hidden 
    transition: opacity 0.5s ease-in-out; 
    /* Apply transition to opacity */
  

.overlap-container:hover{
    background-color: rgba(3, 3, 3, 0.699);
}

.backblur{
    margin-top:13rem;
    width: 50%;
    /* background-color: rgba(88, 89, 90, 0.349); */
}

.backblur img{
    width: 73%;
}

.backblur h2{
    font-size: 3rem;
}
.backblur h3{
    font-size: 1.6rem;
    color: rgb(204, 204, 204);
}

.backblur p{
    color:  rgb(248 155 37);
}
.backblur p span{
    color: aliceblue;
}

.more-less-container p{
    color: aliceblue;
}


.first-container
{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, -163px);
    /* overflow: hidden; */
}   

.first-wrapper{
    max-width: 1800px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
position: relative;
height: 31rem;
    width: 80%;
}


.listofcontainer-pack{
position: absolute;
display: none;
top: 0;
bottom: 0;
}

.listofcontainer-pack.active{
    display: block;
}

.listofcontainer-pack .n-1{
    left: 0;
    width: 100%;
    /* display: none; */
}

.list-item{
    width: 101%;
}


.first-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.listofcontainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -140px;
    z-index: 9999999;
}


.listofcontainer-1{
    margin-top: 5rem;
    width: 80%;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    
}

.list-item{
    border-radius: 10px;
    overflow: hidden;
    height: 10rem;
    width: 21rem;
    box-sizing: content-box;
    position: relative;

}

.list-item:hover{
 background:#1a1a1a ;
}

.list-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

.link-hover-card{

position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
    transition: all 0.5s;
}

.link-hover-card:hover{
    background-color: #00000085;
}



.nameanime{
    width: 90%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 99999;
        color: rgb(182, 156, 10);
        font-size: 1.3rem;
        font-weight: 500;
    text-decoration: underline;
    cursor: pointer;

}


.nameanime a{
    color: rgb(255, 220, 24);
}

.list-scroll-container{
display: flex;
justify-content: space-around;
align-items: center;
}

.list-of-scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.aside-block{
    width: 100%;
    transform: translate(0px, -97px);
display: flex;
justify-content: center;
align-items: center;
color: white;
margin-bottom: 5rem;
}

.ww .p-number{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.ww.active .p-number{
    background-color: rgb(248 155 37);
}

.list-scroll-container i{
    font-size: 2rem;
    padding: 1.1rem;
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    transition:  all 0.5s ease-in;
}
.list-scroll-container i:hover{
    background-color: rgba(209, 209, 209, 0.747);

}


.aside-block i{
    color: white;
}
.list-scroll-container{
    width: 50%;
}
.list-of-scroll{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.list-of-scroll p{
    font-size: 1.2rem;
}


/* ----------------------- */
/* --------second-container----- */
/* ------------------------- */

.second-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container h2{
    font-size: 3rem;
    text-align: start;
}

.containers-list{
    width: 80%; 
    
    margin-bottom: 6rem;
}
.containers-list h2{
color: rgb(248 155 37);
font-size: 3.4rem;
font-weight: 600;
}

.cards-list{
    display: flex;
   overflow: hidden;
    align-items: center;
    gap: .2rem;


}

.card-list{
    width: 85%;
 display: grid;
 gap: 10px;
 grid-template-columns: repeat(4,1fr)
 ;
}

.cards-former{
    width: 10%;
    transition: all 0.6s;
    border-radius:1rem;
    height: 35rem;
    position: relative;
    background-color: #8b6d6d88;
    display: flex;
    overflow: hidden;
    justify-content: start;
    align-items: end;
background-repeat: no-repeat;
background-size:contain;
background-position:center;
transition: all 0.2 ease-in-out;

}





.cards-former.active{
    width: 64rem;
    transition: all 0.6s;
}
.cards-former h3{
    display: none;
    z-index: 9999;
}

.cards-former.active h3{
    display: block;
    transition: all 0.8s ease-in-out;
}

.cards-former h3{
    transition: all 0.9s ease-in-out;
    font-size: 2.5rem;
    color: rgb(238, 237, 237);
    transition: all 0.7s ease-in-out;
    background-color: #75757538;
    padding: 2rem;

}

.cards-former img{
    position: absolute;
    top: 0;
height: 100%;
width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    background-repeat: no-repeat;
background-size:contain;
background-position:center;
}


.side-container-swip{
    width: 400px;
    background-color: #000000;
}
.side-con-flag{
   
   
 
}

.side-con-flag{
    width: 100%;
}

.side-con-flag img{
    width: 100%;
}

.side-con-flag h2{
    font-size: 2rem;
}
.third-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.header-of-cards-gen{
width: 100%;
display: flex;
align-items: center;
justify-content: start;
gap: 2rem;

}
.header-of-cards-gen h2{
    font-size: 1.9rem;
color: #f89b25;
}

.cards-container-anime{
    width: 80%;
}


.card-anim{
    margin-top: 1rem;
    width: 16rem;
    position: relative;
}

.text-card-in-box{
    position: relative;
    background-color: rgb(0, 0, 0);
    transform: translate(0,-2.7rem);
    height: 11rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;

}

.card-list-con.active{
    display:block ;
}
.card-list-con{
    display:none ;
}

.text-card-in-box::after{
    content:"";
    z-index: 99;
    position: absolute;
    /* background-color: #1a1a1a; */
    width: 100%;
    height: 14rem;
    background: linear-gradient(358deg, #000000,#0000);

    top: -218px;
    left: 0;
    right: 0;


}

.btn-container-ani{
    display: flex;
    gap: 0.6rem;
}

.card-anim img{
    width: 100%;
    height: 24rem;
}

.card-anim.active img{
    filter: brightness(40%);
} 

.btn-container-ani  .ww1 button{
   background:none;
    outline: none;
    border: none;
    padding: 0.5rem 1.2rem ;
    background-color:rgb(70, 70, 70) ;
    color: #f89b25;
    border-radius:.5rem ;
    transition: all 0.4s;

}
.btn-container-ani  .ww1.active button{
    background-color:rgb(31, 31, 31) ;
}

.btn-container-ani  aside button:hover{
    background-color:rgb(41, 41, 41) ;
}

.btn-container-ani  aside button:active{
    background-color:rgb(29, 29, 29) ;
}

.info-side {
    padding: 0.3rem;
    display: flex;
    z-index: 222;
    transform: translate(0px,-10px);

    justify-content: space-between;

 
}

.info-side p{
    color: white;
}
.info-side p span{
    color: white;
    background-color:#f89b25;
    padding: 2px;
    border-radius: 2px;
}


.name-if-anime-cards
{
    padding: 1rem;
    /* padding: 1rem 1rem 3rem 0.7rem; */
    color: aliceblue;
}
.name-if-anime-cards h4{
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
    
}
.name-if-anime-cards p{
    display: inline;
    color: #666666;

}
.name-if-anime-cards p li{
    display: inline;
}
.card-anim .main-aside {
    display: none;
    position: absolute;
    color: #313131;
    width: 90%;
    right: -87%;
    z-index: 1;
    top: 19%;
    background-color: #f5d7b4;
    padding: 1.2rem;
    transition:  all 4s ease-in-out;
}

.card-anim.active .main-aside{
 display: block;
 transition:  all 4s ease-in-out;
}

.main-aside h4{
    font-size: 1.3rem;

}
.main-aside p{
    font-size: .8rem;
    color: #444444;
    
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.most-views-container{
    margin-top: 3rem;
}
.t1{
    font-size: 2rem !important;
}

.main-aside p .star-rate{
    font-size: 15px;
}

.star-rate i{
    color: #f89b25;
}

.bolok{
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.subline-anime{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.btb-be{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}


.btb-be aside{
    display: flex;
    
}

.btn-vies.active button{
    background-color: #1a1a1a;
    color: #f89b25;
}

.btb-be aside button{
    background: none;
    /* border-radius: 0.1rem; */
    border: none;
    color: rgb(182, 182, 182);
    outline: none;
    padding: 0.3rem 1rem;
    background-color: #666666;
    transition: all 0.5s ease-in-out;
}

.btb-be aside button:hover{
    background-color: #1a1a1a;
}

.info-side-ani{
    margin-top: 10px;
}

.info-side-ani p span{
    color: #000000;

}
.btn-container-for-side{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-container-for-side button{
    background: none;
    outline: none;
    border: none;
    background-color:#f89b25 ;
    padding: 1rem 2rem;
    border-radius:7px ;
}


.btn-container-for-side div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
     
}
.btn-container-for-side div i{
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;

}
/* ------------------------------- */
    /* genera */
/* ------------------------------- */

.figure-new-gen{

    display:flex;
    
    gap: 1.2rem;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 17rem;
    overflow: hidden;

}
.card-genera-container .button-container{
    
    height: 17rem;
    overflow: hidden;
}

.length-btn{
    height: 2rem;
}

.con-era-gen-text{
    font-size: 2.7rem;
    color: #f89b25;
    
}

.card-genera-container{
    background-color: #0a0a0a;
    padding: 1rem 1.2rem;
display: flex;
flex-direction: column;
align-items: center;
    height:min-content;
}

.button-container button{
    width: 80%;
    outline: none;
    border-radius: 5px;
    background: none;
  
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(197, 197, 197);
    border: none;
    font-size: 14px;
    
}


.button-container button:hover{
    background-color: #666666;
}

.see-btn-gen{
    display: flex;
    justify-content: center;
    align-items: center;

}

.gen-era{
    transition: all 0.5s ease-in-out;
    font-size: 1.3rem;
    width: 90%;
    background-color: #444444;
    outline: none;
    margin-top: 10px;
    border: none;
    color: rgb(214, 214, 214);
    /* margin:1.3rem 0rem; */
    padding: 1rem 2rem ;
}
.card-genera-container .gen-era:nth-child(2){
    display: none;
}
.card-genera-container.active .gen-era:nth-child(2){
    display: block;
}

.card-genera-container .gen-era:nth-child(1){
    display: block;
}
.card-genera-container.active .gen-era{
    display: none;
}


.card-genera-container.active .button-container{

    height: 35rem;
    overflow: hidden;
}  

.gen-era:hover{
    background-color:#1a1a1a ;
}

.most-view-card{
    background-color: #313131;
}
.most-view-card h2{
    font-size: 1rem;
    color: rgb(201, 201, 201);
    font-weight: 300 !important;
}
.most-view-card aside {
display: flex;
flex-direction: column;
gap: 1rem;
width: 20rem;
}

.most-list-con-1{
    display: none;
}

.most-list-con-1.active{
    display: block;
}

button{
    cursor: pointer;
}
.most-list{
    cursor: pointer;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #313131;
}

.most-view-card{
    display: flex;
    font-family: sans-serif;
    gap: 1rem;  
    position: relative;
    padding-bottom: 1rem;
    border-bottom:3px solid #414141  ;
    transition: all 0.5 ease-in-out;
    padding-top: 1rem;
}
.most-view-card:hover{
    background-color: #0f0f0f;
    
}


.most-view-card h1{
    color: rgb(190, 190, 190);
}

.most-view-card aside p{
    color: rgb(94, 94, 94);
    font-weight: 300 !important;
    font-family:  'ROBOTO',sans-serif;
    font-size: 0.9rem;
}

.most-view-card aside aside{
    display: flex;
   
    flex-direction: row;
}

.most-view-card div{
    width: 3rem;
    display: flex;
    gap: 1rem;
    width: 27rem;
    height: 5.5rem;
} 
.most-view-card div img{
    width: 100%;
    border-radius: 5px;
   
}
.most-view-card div h1{
    position: relative;
    height: 4rem;
}

.most-view-card div h1::after{
    content: "";
    width: 100%;
    height: 0.4rem;
    position: absolute;
    background-color: #f89b25;
    top: 19px;
    left: 0;


}


.most-view-card .main-aside{
    position: absolute;
    z-index: 99999;
    
    background-color: #000000ef;
}
.most-view-card .main-aside h4{

}














.most-view-card-w{
    background-color: #313131;
}
.most-view-card-w h2{
    font-size: 1rem;
    color: rgb(201, 201, 201);
    font-weight: 300 !important;
}
.most-view-card-w aside {
display: flex;
flex-direction: column;
gap: 1rem;
width: 20rem;
}




.most-view-card-w{
    display: flex;
    font-family: sans-serif;
    gap: 1rem;  
    position: relative;
    padding-bottom: 1rem;
    border-bottom:3px solid #414141  ;
    transition: all 0.5 ease-in-out;
    padding-top: 1rem;
}
.most-view-card-w:hover{
    background-color: #0f0f0f;
    
}


.most-view-card-w h1{
    color: rgb(190, 190, 190);
}

.most-view-card-w aside p{
    color: rgb(94, 94, 94);
    font-weight: 300 !important;
    font-family:  'ROBOTO',sans-serif;
    font-size: 0.9rem;
}

.most-view-card-w aside aside{
    display: flex;
   
    flex-direction: row;
}

.most-view-card-w div{
   
    display: flex;
    gap: 1rem;
    width: 27rem;
    height: 5.5rem;
} 
.most-view-card-w div img{
    width: 100%;
    border-radius: 5px;
    display: block !important;
   
}
.most-view-card-w div h1{
    position: relative;
    height: 4rem;
}

.most-view-card-w div h1::after{
    content: "";
    width: 100%;
    height: 0.4rem;
    position: absolute;
    background-color: #f89b25;
    top: 19px;
    left: 0;


}

.most-view-card-y h2{

} 
.most-view-card-y .main-aside{
    position: absolute;
    z-index: 99999;
    
    background-color: #000000ef;
}
.most-view-card-y .main-aside h4{

}





.most-view-card-y{
    background-color: #313131;
}
.most-view-card-y h2{
    font-size: 1rem;
    color: rgb(201, 201, 201);
    font-weight: 300 !important;
}
.most-view-card-y aside {
display: flex;
flex-direction: column;
gap: 1rem;
width: 20rem;
}




.most-view-card-y{
    display: flex;
    font-family: sans-serif;
    gap: 1rem;  
    position: relative;
    padding-bottom: 1rem;
    border-bottom:3px solid #414141  ;
    transition: all 0.5 ease-in-out;
    padding-top: 1rem;
}
.most-view-card-y:hover{
    background-color: #0f0f0f;
    
}


.most-view-card-y h1{
    color: rgb(190, 190, 190);
}

.most-view-card-y aside p{
    color: rgb(94, 94, 94);
    font-weight: 300 !important;
    font-family:  'ROBOTO',sans-serif;
    font-size: 0.9rem;
}

.most-view-card-y aside aside{
    display: flex;
   
    flex-direction: row;
}

.most-view-card-y div{
   
    display: flex;
    gap: 1rem;
    width: 27rem;
    height: 5.5rem;
} 
.most-view-card-y div img{
    width: 100%;
    border-radius: 5px;
    display: block !important;
   
}
.most-view-card-y div h1{
    position: relative;
    height: 4rem;
}

.most-view-card-y div h1::after{
    content: "";
    width: 100%;
    height: 0.4rem;
    position: absolute;
    background-color: #f89b25;
    top: 19px;
    left: 0;


}

.most-view-card-y h2{

} 
.most-view-card-y .main-aside{
    position: absolute;
    z-index: 99999;
    
    background-color: #000000ef;
}
.most-view-card-y .main-aside h4{

}

.fourth-container{
    width: 100%;
    /* background-color: #444444; */
    display: flex;
    justify-content: center;
    align-items: CENTER;
    height: 66rem;
    position: relative;
    margin-bottom: 3rem;
   overflow-x: hidden;
   overflow-y: hidden;
}
.class-main{
    width: 100%;

}

.img-back-zoro{
    width: 100%;
    filter: brightness(20%);
}
.img-back-zoro img{
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .img-back-zoro  img.active {
    opacity: 1;
  }

  .card-list-e{
    display: flex;

  }


.text-con{
    position: absolute;
    bottom: -14px;
    overflow-x: hidden;
 
    /* display: none; */
}
/* fourth-container */

.cardwe img{
     object-fit: cover;
 height: 18rem;
 }
 

 .icon-arrow-div{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* transform: translate(50%,50%); */
    top: 46%;
    bottom: 44%;
    z-index: 7;

 }

 .icon-arrow-div i{
    font-size: 4rem ;
    color: #ebebeb;

 }


 .card-list-e{
    gap: 2rem;
 }

 .card-let-dy-de .card-anim.active .main-aside{
    right: -87%;
    z-index: 1;
    
    top: -7%;

 }



  .card-list-e {
    margin-left: 2rem;
    display: flex; /* Display cards in a row */
       scroll-behavior: smooth; /* Enable smooth scrolling */
     transition: all 0.4s ease-in-out;
    /* Additional styling properties for the card container */
    /* transform: translate(-200px, 0px); */
  }
  
  .card-let-dy-de {

   /* Adjust card width as needed */
    flex-shrink: 0; /* Prevent cards from shrinking */
    /* Additional styling properties for individual cards */
  }

  .card-let-dy-de.active{
    transform: scale(1.1);
  }

  .text-conta-change
{
    color: #ebebeb;
    position: absolute;
    top: 12%;

    margin-left: 4rem;
    z-index: 999;
    background: none;
}
.name-text{}

.text-conta-change h2{

    font-size: 3rem;
}
.text-conta-change span span{
    font-size: 1.5rem;
}

.text-conta-change p{
    font-size: 1rem;
}
.text-conta-change p span{
    font-size: 1.5rem;
}

.subline-w{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.9rem;
}
.season{

}

.tv{
    background-color: #eb8500;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;

}

.btn-e{
    display: flex;
    gap:2rem;

}
.btn-e button:nth-child(1){
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #f89b25;
}

.btn-e button:nth-child(1):hover{
    background-color: #eb8500;
}


.btn-e button{
    font-weight: 600;
    color: #313131;
    font-size: 1.2rem;
    background-color:blanchedalmond ;
    padding: 1rem 2rem;
    border-radius:10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out    ;
}

.btn-e button:nth-child(2):hover{
    background: #3a3a3a1c;
    color: white;
    border: 2px solid #f5d7b4;
}

.btn-e button i{
    border-radius: 50%;
    color: #241503;

    font-size: 2rem;
    margin-right: 1rem;
}

.line-video{
    width: 40rem;
    margin-top: 3rem;
    height: 0.5rem;
    background-color: rgb(185, 185, 185);
    position: relative;
}

.fill-con-value{
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #f89b25;
    position: absolute;

}

.ter{
   
    position: absolute;
    width: auto;
    right: -79px;
    top: -52px;
    font-size: 1rem;
    height: 1.7rem;
    background-color:#999;
    padding: 0.4rem 1rem;

    border-radius: 1rem;
    color: #e7e7e7;
    display: none;
    transition: all 0.6s ease-in-out;


}

.heading-rencent{
    margin-left: 2rem;
    color: #eb8500;
}


.line-video:hover .ter{
    display: block;

}
.text-head{
    padding: 0.2rem;
    font-size: 1.2rem;
}

.season{
    display: flex;
    gap: 2rem;
}
.season p span{
    color: #f89b25;
}


.last-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-last{
    display: flex;
    width: 90%;
    gap: 2rem;
    margin: auto;
    justify-content: center;
    align-items: start;
}
.section-1-card{
    width:70% ;
    background: linear-gradient(30deg,#303030,#1c1201);

}

.list-dy-com{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.list-come{
    cursor: pointer;
    width: 100%;
    display: flex;
    background-color:#242424;
    height: 4rem;
    z-index: 99;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    justify-content: space-between;
}
.list-come:hover{
   transform: scale(1.1);
   
}

.list-come img{
    height: 100%;
}
.list-come button{
    width: 10rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
   color: #dddddd;
    background-color: #f89b25;
}
.list-come button:hover{
    background-color: #f8a63a;
}

.other-info-anime{
    width: 30%;
}
.other-info-anime img{
    width: 100%;
}

.aside-content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.aside-content {
color: #e7e7e7;
}

.info-text-aside-1 aside{
    display: flex;
    gap: 1rem;
}

.info-text-aside-1 aside p{
    color: #696969;
}

.rating span{
    background-color: #f89b25;
    color: #1b1b1b88;
    padding-left:0.5rem;
    margin-right: 0.2rem;
    padding-right: 0.5rem;
}
.other-info-anime{
    background-color: #696969;
    position: relative;
    height: 30rem;
    z-index: 77;
    border-radius: 1rem;
    overflow: hidden;
}

.other-info-anime img{
    object-fit: cover;
width: 100%;
height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
   right: 0;

   z-index: 0;

   
}
.other-info-anime::after{
    content: "";
    background:linear-gradient(30deg,#ffaf4796,#db820d);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.7s ease-in-out;
}

.other-info-anime:hover  .other-info-anime::after{
    background:linear-gradient(60deg,#db820d,#ffaf4796);    
}

.otherAnime-see{
    position: relative;
    margin-top: 4rem;
    z-index: 9999;
    padding: 2rem;
    color:#cccccc;
    border: 1px solid white;
    margin: 2rem;
border-radius: 2rem;
    font-size: 2rem;
}

.otherAnime-see h2{
    line-height: 1.2;

}
.otherAnime-see p {
    text-align: end;
}
.otherAnime-see p a{
    font-size: 1.2rem;
    text-align: end;
    color:  rgb(240, 240, 240);
}

.sub-last-container{
    margin-top: 10rem;
    width: 80%;
    margin: 10rem auto ;
    display: flex;
    justify-content:center;
    align-items: center;

}

.sin-con{
    color: #e7e7e7;
    width: 150%;
    
}

.sin-con h2{
    font-size: 2rem;
}
.sin-con p{
    width: 80%;
    color: #999;
}

.redw{
    border-radius: 10px;
    color: #eb8500;
padding: 2rem;
width: 58%;
    border: 2px solid white;
}
.redw h2{
    /* width: rem; */
    width: 100%;
    font-size: 2.3rem;
}

footer{
    display: flex;
    align-items: center;
    height: 35rem;
    z-index: 1;
    background-color: #000000 ;
    position: relative;
    background: linear-gradient(30deg,#1111114f,#ffffff27);
}

.img-back-footer{
    position: absolute;
    right: -700px;
    top: 0;
    right: 0;
    filter: brightness(20%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
}

.info-of-business{

    position: relative;
    width: 59rem;
    height: 35rem;
    display: flex;
    z-index: 11;
    justify-content: center;
    align-items: center;
    background: linear-gradient(80deg,#000000da,#00000034);

}
.first-card-footer{
    width: 100%;
    color: white;
    margin-left: 2rem;

}

.first-card-footer img{
    width: 40%;
}

.sub-footer{
    color: #999;
    margin-left: 2rem;
}
.class-logo{
    position: absolute;
    bottom: 0;
    right: 0;
    /* font-size: 3rem; */
    color: #db820d;
    z-index:88;
    font-weight: 100;
    padding-right: 2rem;
}